<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edwin.lib_base">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="23133129" />

        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="pzSuYvo7lonrlBUseHqGrAyj" />

        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="mmdBcaIQUoiDEgPlIBgBflWpdzQfsCcl" />


        <service android:name=".service.InitService" />

    </application>


</manifest>